/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Spline+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1ebf5;
    font-family: 'Spline Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

/* Navigation Menu */
.navigation{
    color: white;
}
.heading{
    display: flex;
    height: 80px;
    background-color: green;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.nav-menu ul li, a{
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

/* --------------------
header part
----------------------- */
#influencer-info{
    text-align: justify;
    margin-top: 20px;
}
.heading-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.heading-info{
    width: 582px;
    height: 270px;
}
.heading-img{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;

}
.heading-img img{
    width: 440px;
    height: 414px;
    object-fit: cover;
    border-radius: 50%;
    
}

/*---------------
 Popular Collection 
 ----------------*/

#collection-title{
    font-size: 40px;
    text-align: center;
    margin: 30px 0px;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product-details{
    height: 476px;
    width: 329px;
    /* border: 1px solid black; */
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-details img{
    height: 256px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}
#product-name{
    font-size: 40px;
}
#price{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 30px;
}
.star-icon{
    display: flex;
    margin-bottom: 10px;
    color: green;
}
#rating{
    margin-left: 10px;
    font-weight: bolder;
    color: black;
}
#read-more{
    color: green;
    text-align: right;
    font-size: 20px;
    margin: 20px 0px;
}
.default-btn{
    padding: 10px;
    font-size: 15px;
    background-color: green;
    color: white;
    margin: 10px 0px;
}
.footer-style{
    background-color: green;
    text-align: center;
    color: white;
    height: 150px;
}
.footer-content{
   margin: 10px 0px;
}
.footer-icon{
    margin-top: 20px;
}
.footer-icon a{
    background-color: rgba(255, 0, 0, 0.657);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

/* -------------------
----Sign up form---------------- */
fieldset{
    border: 2px dotted green;
    border-radius: 10px;
}
input[type=text],
input[type=email],
input[type=number] {
    width: 100%;
    padding: 5px 0px;
    margin: 3px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(4, 156, 4);
  }
  legend{
      margin-bottom: 10px;
      text-align: center;
      font-weight: bolder;
  }
 form{
     padding: 20px;
 }
label{
    font-weight: bolder;
}
::placeholder{
    padding: 10px;
    color: white;
}
#date{
    background-color: rgb(4, 156, 4);
    color: white;  
}
/* ............................
Media Query
......................... */

/* @media screen and (max-width: 600px) {
    . {
      background-color: olive;
    }
  } */

   @media screen and (max-width: 600px) {
    .heading, .heading-info {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: auto;
      align-items: left;
      padding: 10px;
    }
  } 
  @media screen and (max-width: 600px) {
    .heading-part,.product{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        justify-content: start;
        align-items: flex-start;
    }
  } 
  @media screen and (max-width: 600px) {
    .heading-img img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
    }
  } 
